*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    min-width: 1000px;

    background: linear-gradient(180deg, #EDA418 47.4%, rgba(237,164,24,0) 100%);
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    min-width: inherit;
    max-height: 900px;
}

.nav_menu {
    display: flex;   
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 298px;
    max-width: inherit;
    
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 105px;
}

.nav_menu_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
    width: 60%; 
}

.nav_menu_item {
    max-width: 150px;
    margin-right: 20px;
    min-width:min-content; 
    padding: 0;
}

.nav_menu_link {
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
}

.nav_menu_button {
    border: none;

    background-color: transparent;
    cursor: pointer;
}

.nav_menu_link#link1 {
    font-weight: 700;
}

.nav_menu_link:hover {
    color: #fff;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 217px;
    padding-bottom: 100px;
    padding-left: 130px;
    max-width: inherit;
}

.hero_list-title {
    padding-bottom: 29px;

    font-size: 32px;
    font-weight: 800;
    line-height: 39px;
}

.hero_list-text {
    padding-bottom: 40px;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.hero_list-btn {
    padding: 14px 18px;

    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #fff;
    
    background-color: #E62626;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease;
}

.hero_list-btn:hover {
    background-color: #881414;;
}

.main {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    min-width: 1000px;
    
    text-align: center;
}

.main-menu_title {
    margin-bottom: 30px;
    
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.main-menu_link {
    display: inline-block;
}

.main-title {
    margin-bottom: 46px;
    width: 100%;
    
    font-size: 35px;
    font-weight: 500;
    line-height: 43px;
    transition: 0.4s ease;

}

.main-title:hover {
    color: hwb(41 16% 5%);
}

.main-menu_list {
    width: 100%;
}

.main-menu_items {
    display: flex;
    flex-wrap: wrap;
    margin: 19px;
    justify-content: space-evenly;
}

.footer {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    min-width: 1000px;
    text-align: center;
    
    background: linear-gradient(180deg, rgba(217,217,217,0) 0%, #EDA61D 100%);
    background-size: cover;
}

.footer-list {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 45px;
}

.footer-item {
    width: 337px;
}

.footer_link:hover {
    text-decoration: underline;
}

.footer-text {
    padding-bottom: 23px;
    
    font-weight: 500;
}

.footer-social_list {
    display: flex;
    align-items: center;
    justify-content: center;
}